<?xml version="1.0"?>

<launch>

	<node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen">
		<param name="scan" value="scan"/>
		<param name="odom_frame" value="odom"/>
		<param name="base_frame" value="base_link"/>
	</node>

	<node name="map_server" pkg="map_server" type="map_saver">
		
	<include file="$(find amcl)/examples/amcl_diff.launch" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

		<rosparam file="$(find robot1_2dnav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find robot1_2dnav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find robot1_2dnav)/params/local_costmap_params.yaml" 	command="load" />
		<rosparam file="$(find robot1_2dnav)/params/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find robot1_2dnav)/params/base_local_planner_params.yaml" command="load" />

	</node>

</launch>
