<?xml version="1.0"?>

<launch>
	<include file="$(find gazebo_ros)/launch/willowgarage_world.launch">
	</include>

	
	<!-- Loading URDF file -->
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find robot1_description)/urdf/robot1_base.xacro'"/>
	
	<!-- Run python script to get gazebo to spawn urdf file -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -model robot1 -param robot_description -z 0.05"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<node name="state_publisher_tutorials" pkg="robot1_description" type="state_publisher_tutorials"/>


</launch>
